
.roque{

    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
    box-shadow: 10px 10px 50px 10px rgb(0, 68, 255);

}

.button{
    background-color: rgba(0, 0, 255, 0.753);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.button{
    background-color: rgba(0, 0, 255, 0.753);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.button{
    background-color: rgba(0, 0, 255, 0.753);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

